@import "twitter/bootstrap";

.itcostus {
  padding: 70px 0;
}

.transaction-list {
  .amount, .date {
    text-align: right;
  }

  .description {
    .words {
      display: block
    }
    input, select {
      width: 30em;
    }
  }
}

ul.pager-controls {
  float: right;
}

td.controls {
  text-align: right;
  button {
    margin-left: 1em;
    &:first-child {
      margin-left: 0;
    }
  }
}

.category-months-bar {
  .chart {
    .label {
      font-size: 10px;
    }
    .ylabels .tick line {
      fill: none;
      stroke: #222;
      stroke-width: 1px;
      shape-rendering: crispEdges;
    }
    .path.domain {
      fill: none;
      stroke: #222;
      stroke-width: 1px;
      shape-rendering: crispEdges;
    }
    .bars rect.bar {
      fill: steelblue;
      stroke: white;
    }
  }
}
