@import "twitter/bootstrap";

.itcostus {
  padding: 70px 0;
}

.transaction-list {
  .amount, .date {
    text-align: right;
  }

  .description {
    .words {
      display: block
    }
    input, select {
      width: 30em;
    }
  }
}

td.controls {
  text-align: right;
  button {
    margin-left: 1em;
    &:first-child {
      margin-left: 0;
    }
  }
}